.agafay-card {
    width: 100%;
    max-width: 350px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    transition: 0.3s;
  }
  .agafay-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  .agafay-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .agafay-content {
    padding: 15px;
  }
  
  .agafay-content h3 {
    color: #c08b6d;
    margin-bottom: 5px;
  }
  
  .agafay-content .duration,
  .agafay-content .description {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
  }
  .agafay-price-info{
    display: flex;
    justify-content: space-between;   
  }
  .availability {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
  }
  
  .availability.yes {
    background-color: #d4edda;
    color: #155724;
  }
  
  .availability.no {
    background-color: #f8d7da;
    color: #721c24;
  }
  .agafay-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }