.footer {
    background-color: #1c1c1c;
    color: #f1c27d;
    padding: 40px 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer__logo {
    flex: 1;
    max-width: 300px;
  }
  
  .footer__logo h2 {
    color: #f1c27d;
    font-weight: bold;
    font-size: 24px;
  }
  
  .footer__logo p {
    margin-top: 10px;
    color: rgba(241, 194, 125, 0.7);
    font-size: 14px;
  }
  
  .footer__links-container {
    display: flex;
    justify-content: space-between;
    flex: 2;
    max-width: 800px;
  }
  
  .footer__links-container div {
    flex: 1;
  }
  
  .footer__title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .footer__links {
    list-style: none;
    padding-left: 0;
  }
  
  .footer__links li {
    margin-bottom: 8px;
  }
  
  .footer__links a {
    color: rgba(241, 194, 125, 0.75);
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .footer__links a:hover {
    color: #f1c27d;
  }
  
  .footer__bottom {
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__logo-img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .footer_contact_info{
    padding-bottom: 12px;
    color: rgba(241, 194, 125, 0.75);
  }
  .footer_contact_info p:hover ,.footer__socials p:hover{
    color: #f1c27d;
  }
  .footer__socials{
    display: flex;
    gap: 10px;  
    color: rgba(241, 194, 125, 0.75);
  }
  
  /* Responsive */
  @media only screen and (max-width: 768px) {
    .footer__logo h2 {
      font-size: 20px;
    }
  
    .footer__title {
      font-size: 16px;
    }
  
    .footer__bottom {
      font-size: 12px;
    }
  
    .footer__content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer__links-container {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .footer__links li {
      text-align: center;
    }
  }
  