.slider__item {
    max-width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
  }
  
  /* Slider Backgrounds */
  .slider__item-01,
  .slider__item-02,
  .slider__item-03{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1.5s ease-in;
    transform: scale(1);
  }

  /* Content Styling */
  .slider__content {
    background-color: #a76d4d93;
    width: 900px;
    padding: 30px;
    border-radius: 10px;
    opacity: 0;
    animation: slideIn 1s ease-out forwards; /* Slide-in animation for content */
    z-index: 1;
  }
  
  .slider__content h4 {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: #ffffff;
  }
  
  .slider__content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .reserve__btn {
    background-color: #c08b6d;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    width: 250px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .reserve__btn a {
    text-decoration: none;
    color: #fff;
  }
  
  .reserve__btn:hover {
    background-color: #a76d4d;
    transform: translateY(-2px);
  }
  
  /* Animation for sliding in content */
  @keyframes slideIn {
    from {
      transform: translateY(50px); /* Start from below */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  
  /* Responsive Design */
  @media only screen and (max-width: 992px) {
    .slider__item {
      height: 530px;
      max-width: 100vw;
    }
  
    .slider__content {
      margin-top: -50px;
    }
  
    .slider__content h1 {
      font-size: 2rem;
    }
  
    .slider__content h4 {
      font-size: 1.2rem;
    }
  
    .reserve__btn {
      padding: 10px 20px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .slider__item {
      height: 450px;
    }
  
    .slider__content h1 {
      font-size: 1.5rem;
    }
  
    .slider__content h4 {
      font-size: 1rem;
    }
  
    .reserve__btn {
      padding: 8px 18px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .slider__item {
      height: 400px;
    }
  
    .slider__content h1 {
      font-size: 1.2rem;
    }
  
    .slider__content h4 {
      font-size: 0.9rem;
    }
  
    .reserve__btn {
      padding: 6px 15px;
    }
  }
  